body {
    font-family: "Open Sans", monospace;
    color: #000814;
}

.wd-brand-font {
    font-family: "Audiowide", sans-serif;
    font-size: 1.25rem;
}

.wd-brand {
    color: #ffc300;
    font-weight: bold;
}

.wd-theme-yellow {
    color: #ffc300;
}

a, a:link, a:hover, a:visited {
    text-decoration: none;
}

.wd-btn-lowlight {
    --bs-btn-color: #001d3d;
    --bs-btn-border-color: #001d3d;
    --bs-btn-hover-color: #000814;
    --bs-btn-hover-bg: #ffd60a;
    --bs-btn-active-border-color: #ffd60a;
    --bs-btn-active-color: #000814;
    --bs-btn-active-bg: #ffd60a;
}

.wd-btn-highlight {
    --bs-btn-hover-color: #000814;
    --bs-btn-hover-bg: #ffc107;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #000814;
    --bs-btn-bg: #ffd60a;
    --bs-btn-border-color: #ffd60a;
    --bs-btn-active-bg: #ffd60a;
    --bs-btn-active-border-color: #ffd60a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-gradient: none;
}

.navbar .nav-link {
    color: #001d3d;
}

.navbar .nav-link.disabled {
    color: var(--bs-nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}