@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.wd-body {
    font-family: "Open Sans", monospace;
    background-color: #f2f2f2;
}
.wd-button-follow {
    background-color: #E0BE36;
}



