.wd-btn-lowlight {
    --bs-btn-color: #001d3d;
    --bs-btn-border-color: #001d3d;
    --bs-btn-hover-color: #000814;
    --bs-btn-hover-bg: #ffd60a;
    --bs-btn-active-border-color: #ffd60a;
    --bs-btn-active-color: #000814;
    --bs-btn-active-bg: #ffd60a;
}